/microservices-demo/.idea/*
/microservices-demo/HELP.md
/microservices-demo/app-config-data/.project/*
/microservices-demo/app-config-data/.settings/*
/microservices-demo/app-config-data/app-config-data.iml
/microservices-demo/app-config-data/target/*
/microservices-demo/common-config/.project/*
/microservices-demo/common-config/.settings/*
/microservices-demo/common-config/common-config.iml
/microservices-demo/common-config/target/*
/microservices-demo/config-server/config-server.iml
/microservices-demo/config-server/target/*
/microservices-demo/kafka/.project/*
/microservices-demo/kafka/.settings/*
/microservices-demo/kafka/kafka-admin/kafka-admin.iml
/microservices-demo/kafka/kafka-admin/target/*
/microservices-demo/kafka/kafka-model/kafka-model.iml
/microservices-demo/kafka/kafka-model/target/*
/microservices-demo/kafka/kafka-producer/kafka-producer.iml
/microservices-demo/kafka/kafka-producer/target/*
/microservices-demo/kafka/kafka.iml
/microservices-demo/kafka/target/*
/microservices-demo/microservices-demo.iml
/microservices-demo/twitter-to-kafka-service/.project/*
/microservices-demo/twitter-to-kafka-service/.settings/*
/microservices-demo/twitter-to-kafka-service/target/*
/microservices-demo/twitter-to-kafka-service/twitter-to-kafka-service.iml
/microservices-demo/docker-compose/grafana/sessions/*
/microservices-demo/docker-compose/grafana/png/*
